.ShowData {
    background-color: #fff;
    margin-top: 30px;
    border-radius: 10px;
  }
  
  
  .inputProduct , .inputtitle{
    padding: 10px 20px;
    outline: none;
    border: 1px solid #9f9f9f;
    border-radius: 12px;
    width: 90%;
  }
  .inputtitle {
  
      width: 95%;
    }
    
  .form-control:focus {
    box-shadow: none;
  }
  .DataFrom label{
      font-weight: 700;
      font-size: 20px;
      color: #000000B2;
  
  }
  .add{
      display: flex;
      align-items:flex-end;
      justify-content: flex-end;
      padding: 30px ;
  }
  .btnEdit{
      padding: 10px 20px;
      background-color: #B88E2F;
      font-weight: 700;
      color: #fff;
      
      &:hover{
          background-color: #fff;
          color: #B88E2F;
          border: 1px solid #B88E2F;
  
      }
  
  
  }
  