<div class="container-fluid">
    <div class="ShowData p-4">
      <div class="infoShow d-flex justify-content-between align-items-center">
        <h3>الطلبات</h3>
      </div>
  
      <div *ngIf="loading" class="text-center">
        <div class="loading-spinner"></div>
      </div>
  
      <div class="Data my-5">
        <div *ngIf="orders.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th>الرقم</th>
                <th>اسم المستخدم</th>
                <th>البريد الالكتروني</th>
                <th>تاريخ الطلب</th>
                <th>رقم الهاتف</th>
                <th>اجمالي التكلفة</th>
                <th>تكلفة الشحن</th>
                <th>العنوان</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders; let i = index">
                <td class="px-3 font-bolder">{{ i + 1 }}</td>
                <td>{{ order.user.name }}</td>
                <td>{{ order.user.email }}</td>
                <td>{{ order.createdAt | date: 'yyyy-MM-dd' }}</td> 
                <td>{{order.user.phone}}</td>
                <td>{{order.totalOrderPrice}}</td>
                <td>{{order.taxPrice + 1 +i *25}}</td>
             
                <td>{{ order.shippingAddress?.city || 'غير محدد' }}</td> 



              </tr>
            </tbody>
          </table>
  
          
          
          <div *ngIf="orders.length === 0" class="text-center">
              لا يوجد طلبات حاليا
            </div>
            <!-- Pagination Controls -->

            
      </div>
    </div>


    <div class="allopreationPaga mt-4">
        <div class="pagination-controls">
          <button
            class="BtnPagination"
            (click)="goToPreviousPage()"
            [disabled]="currentPage === 1"
          >
            السابق
          </button>
          <div class="page-info">
            <span class="current-page NumpageActive">{{ currentPage }}</span>
            <span
              class="current-page NumpageActive NumpageNotActive"
              *ngIf="currentPage < numberOfPages"
              (click)="goToPage(currentPage + 1)"
            >
              {{ currentPage + 1 }}
            </span>
            <span
              class="current-page NumpageActive NumpageNotActive"
              *ngIf="currentPage < numberOfPages - 1"
              (click)="goToPage(currentPage + 2)"
            >
              {{ currentPage + 2 }}
            </span>
          </div>
          <button
            class="BtnPagination"
            (click)="goToNextPage()"
            [disabled]="currentPage === numberOfPages"
          >
            التالي
          </button>
        </div>

        <div class="limit-selection">
          <label for="limit">العناصر في الصفحة:</label>
          <select id="limit" (change)="onLimitChange($event)">
            <option value="10">10</option>
            <option *ngFor="let limit of limits" [value]="limit">
              {{ limit }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  