.CardWish {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.widsh {
  padding: 20px;
  background-color: #fff;
  margin-left: 10px;
  border-radius: 10px;
  width: 30%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.widsh span {
  color: #000000b2;
  font-weight: 900;
}
.widsh h5 {
  font-weight: 700;
  text-align: center;
}
.iconWidsh {
  background-color: #ff09e6;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.people {
  background-color: #0029ff;
}
.orders {
  background-color: #21c3cd;
}
.numberProduct {
  background-color: #ff7f09;
}
.iconWidsh i {
  color: #fff;
  font-size: 20px;
}

.ShowData {
  background-color: #fff;
  margin-top: 30px;
  border-radius: 10px;
}

.inputSearch {
  padding: 6px 14px;
  width: 200px;
  background-color: transparent;
  border: 0.5px solid #97979797;
  outline: none;
  border-radius: 10px;
}
.btn {
  background-color: #b88e2f;
  color: #fff;
  border-radius: 10px;
  margin: 0 10px;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Data {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.Data::-webkit-scrollbar {
  height: 8px;
}

.Data::-webkit-scrollbar-thumb {
  background-color: #b88f2fae; 
  border-radius: 10px;
}

.Data::-webkit-scrollbar-thumb:hover {
  background-color: #b88e2f;
}

.Data::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}
table {
  width: 150% !important;
}
.table th,
.table td {
  text-align: center;
  padding: 15px;

  border: none !important;
}

.table th {
  font-weight: bold;
  background-color: #f8f9fa;
  gap: 20px;
  column-span: none;
  margin-left: 10px;
  border-radius: 10px;
}
.table tr {
  border-radius: 25px;
  margin: 10px;
}
.BtnPagination {
  margin: 0 5px;
}

.current-page {
  margin: 0 5px;
  cursor: pointer;
}

.NumpageActive {
  font-weight: bold;
}

.NumpageNotActive {
  color: #6c757d;
}

.limit-selection {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.limit-selection label {
  margin-right: 10px;
}
